body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e6f6ff;
}

.login h1 {
  color: #ffffff;
}

.loginForm {
  margin-top: 2rem !important;
  max-width: 20rem;
  margin: auto;
}

.form-label {
  font-weight: bold;
  font-size: large;
  margin-bottom: 1rem;
}

.text-muted {
  color: #e6f6ff !important;
  font-size: smaller;
  margin: 1.5rem 0;
}

.loginButton {
  background: #006199;
  border: #005180 3px solid;
  max-width: fit-content;
  margin: auto;
}
